.react-calendar-heatmap text {
  fill: #8b949e;
  font-size: 9px;
}

.color-empty {
  fill: #0A1128;
}
.color-scale-1 {
  fill: #0e4429;
}
.color-scale-2 {
  fill: #006d32;
}
.color-scale-3 {
  fill: #26a641;
}
.color-scale-4 {
  fill: #39d353;
}

.react-calendar-heatmap .react-calendar-heatmap-day {
  shape-rendering: crispEdges;
  stroke: #1b1f23;
  width: 11px;
  height: 11px;
  rx: 2;
  ry: 2;
}

.react-calendar-heatmap .color-empty {
  fill: #0A1128 !important;
}

.react-calendar-heatmap .react-calendar-heatmap-day {
  shape-rendering: crispEdges;
  stroke: #ede2e2;
  width: 11px;
  height: 11px;
  rx: 2;
  ry: 2;
}
